<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kr328.intent">

    <permission
        android:name="com.github.kr328.intent.permission.INTERCEPT_INTENTS"
        android:icon="@drawable/ic_flip"
        android:description="@string/permission_description"
        android:label="@string/permission_label"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/module_name" />
</manifest>